<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".data"/>
      <mimeMap fileExtension=".data" mimeType="application/octet-stream"/>
      <remove fileExtension=".wasm"/>
      <mimeMap fileExtension=".wasm" mimeType="application/wasm"/>
      <remove fileExtension=".symbols.json"/>
      <mimeMap fileExtension=".symbols.json" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
  <system.web>
	<httpRuntime targetFramework="4.8.1" />
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>